<!DOCTYPE html>


<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">


<!-- Mirrored from spruko.com/demo/aspnet/ynex/dist/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Nov 2023 04:26:10 GMT -->
<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> SMS – School Management System </title>
    <meta name="Description" content="Complete School Management">
    <meta name="Author" content="Future Inovation ">
    <meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- Favicon -->
    <link rel="icon" href="https://spruko.com/demo/aspnet/ynex/dist/assets/images/brand-logos/favicon.ico" type="image/x-icon">

    <!-- Choices JS -->
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Main Theme Js -->
    <script src="~/assets/js/main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="../../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="../../assets/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="../../assets/css/icons.css" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="../../assets/libs/node-waves/waves.min.css" rel="stylesheet">


    <!-- Simplebar Css -->
   @*  <link href="../../assets/libs/simplebar/simplebar.min.css" rel="stylesheet"> *@
    <link href="../../assets/libs/simplebar/simplebar.min.css" rel="stylesheet" />

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="../../assets/libs/flatpickr/flatpickr.min.css">
   @*  <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/nano.min.css"> *@

    <!-- Choices Css -->
    <link rel="stylesheet" href="../../assets/libs/choices.js/public/assets/styles/choices.min.css">

    @* <link href="~/assets/libs/sweetalert/sweetalert2.min.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="../../assets/libs/jsvectormap/css/jsvectormap.min.css">

    <link rel="stylesheet" href="../../assets/libs/swiper/swiper-bundle.min.css">
    <link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
</head>


<body>
    @await Html.PartialAsync("_Switcher")
    @await Html.PartialAsync("_Loader")



    <div class="page">
        @await Html.PartialAsync("_header")
        @await Html.PartialAsync("_Sidebar")
        <div class="main-content app-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        
        @await Html.PartialAsync("_EndContent")
       @*  @await Html.PartialAsync("_SearchModal")
 *@

      
        <footer class="footer mt-auto py-2 bg-white text-center">
            <div class="container">
                <span class="text-muted">
                    Copyright © <span id="year"></span> <a href="javascript:void(0);" class="text-dark fw-semibold">SMS</a>.
                    Designed with <span class="bi bi-heart-fill text-danger"></span> by <a href="javascript:void(0);">
                        <span class="fw-semibold text-primary text-decoration-underline">futureinovation.</span>
                    </a> All
                    rights
                    reserved
                </span>
            </div>
        </footer>

    </div>


    <!-- Scroll To Top -->
    <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    @* <div id="responsive-overlay"></div> *@
    @* <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div> *@

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@

    <!-- start CUSTOME JS-->
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/ajaxhelper.js"></script>
    <script src="~/assets/libs/sweetalert/sweetalert2.all.min.js"></script>

    <!-- end CUSTOME JS-->
    <!-- Popper JS -->
    <script src="~/assets/libs/popperjs/core/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Defaultmenu JS -->
    <script src="~/assets/js/defaultmenu.min.js"></script>

    <!-- Node Waves JS-->
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- Sticky JS -->
    <script src="~/assets/js/sticky.js"></script>
   
    <!-- Simplebar JS -->
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/js/simplebar.js"></script>

    <!-- Color Picker JS -->
    <script src="~/assets/libs/simonwep/pickr/pickr.min.js"></script>



    <!-- JSVector Maps JS -->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>

    <!-- JSVector Maps MapsJS -->
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- Apex Charts JS -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Chartjs Chart JS -->
    <script src="~/assets/libs/chart.js/chart.min.js"></script>

    <!-- CRM-Dashboard -->
    <script src="~/assets/js/crm-dashboard.js"></script>

    <!-- Moment JS -->
    <script src="~/assets/libs/moment/moment.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/custom.js"></script>


    <!-- Custom-Switcher JS -->
    <script src="~/assets/js/custom-switcher.min.js"></script>

   


    @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>
